.scrollArea {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-theme-bg);
}

/* Styling for the sticky navigation */
.sideStickyNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 3em;
  height: 100vh;
  background-color: #000000;
  transition: opacity 0.5s ease;
  z-index: 5;
  /* opacity: 0; */
}

/* Styling for items in sticky nav */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.7em;
  height: 100%;
  gap: 48px;
}

.SideStickyNavLink {
  color: #fff;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.SideStickyNavLinkActive {
  color: var(--secondary-color);
  font-weight: 600;
  /* text-decoration: underline; */
  text-underline-offset: 0.3em;
}
