@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&family=Bowlby+One&family=Changa+One&family=Major+Mono+Display&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  cursor: default;
}

.contentWrapper {
  height: 100%;
  width: 100vw;
}

.sectionLeft {
  color: black;
  height: 100vh;
  /* border: dashed 1px red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 48px;
}

.sectionRight {
  color: white;
  height: 100vh;
  /* border: dashed 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
}

hr {
  width: 100%;
}

/* this is where the height & number of panels change */
.gridSection {
  height: 600vh;
}

.leftSide {
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 0; */
  width: 50%;
  background-color: white;
}

.rightSide {
  position: absolute;
  top: 0;
  right: 0;
  /* bottom: 0; */
  width: 50%;
  background-color: black;
}

.gridPanel {
  /* change this amount */
  top: 25%;
  position: sticky;
  width: 480px; /* 12 columns * 40px */
  height: 480px;
  display: grid;
  grid-template-columns: repeat(12, 40px);
  grid-template-rows: repeat(12, 40px);
}

/* section parent of panel */
.userGridSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

/* panel inside section */
.userGridPanel {
  top: 25%;
  width: 480px; /* 12 columns * 40px */
  height: 480px;
  display: grid;
  grid-template-columns: repeat(12, 40px);
  grid-template-rows: repeat(12, 40px);
}

.gridPanelButtons {
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.buttonActive {
  font-weight: 600;
}


.textIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 145, 249);
}

.visualIntro {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: column;
  background-color: white;
  /* text-align: left; */
  padding: 32px;
}

.lastTextSection {
  height: 100vh;
  background-color: #000;
  /* background-color: rgb(0, 145, 249); */
}

.lastVisualSection {
  height: 100vh;
}

/* Typography Styles */

h1 {
  font-family: "Changa One";
  font-weight: 800;
  font-size: 10rem;
  margin-bottom: 16px;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.chapter {
  cursor: pointer;
}

.iconBackToTop {
  cursor: pointer;
}

.sectionHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.sectionTitle {
  /* text-align: left; */
}

/* Grid Details */

.rect {
  opacity: 1;
  background-color: transparent;
  border: 0.5px #000 solid;
  transition: background-color 0.2s;
  text-align: center;
}

.userRect {
  opacity: 1;
  background-color: transparent;
  border: 0.5px #000 solid;
  transition: background-color 0.2s;
  text-align: center;
  height: 40px;
}

.filled {
  background-color: black;
}

