/* First Start Panels */

.startPanelLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--grid-start-panel-bg);
  height: 100vh;
  padding-left: 48px;
  padding-right: 48px;
}

.startPanelRight {
  background-color: var(--body-start-panel-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 48px;
  padding-right: 48px;
}

.chapter {
  cursor: pointer;
}

/* Sections */

.textPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  color: var(--body-text);
  
  
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 70vh; /*makes sure there's white space */
}

.gridPanel {
  position: sticky;
  margin: 0 auto;
  top: calc(50vh - 240px);
  /* bottom: calc(50% - 50vh);*/
  padding-top: 50%-240px;
  /* transform: translateY(-50%) */
  width: 480px; /* 12 columns * 40px */
  height: 480px;
  display: grid;
  grid-template-columns: repeat(12, 40px);
  grid-template-rows: repeat(12, 40px);
}



/* Bookend Panels */


/* start panel emoji animation */

.titleEmoji {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transition-timing-function: ease-in-out;
  transform-origin:  center; /* Set the transform origin to the left side */
  display: inline-block;
}

@keyframes example {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/* end of: start panel emoji animation */



/* User Section */

.userStartPanelLeft {
  background-color: var(--grid-user-start-panel-bg);
  /* box-sizing: border-box;
  width: 50vw; */

}

.userStartPanelRight {
  background-color: var(--body-user-start-panel-bg);
  /* box-sizing: border-box;
  width: 50vw; */

}



/* Story Panels  */



/* Responsive font size based on viewport width */
/* @media screen and (max-width: 768px) {
  .textPanel {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .textPanel {
    font-size: 16px;
  }
} */


hr {
  width: 100%;
}

.panelHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.iconBackToTop {
  cursor: pointer;
}

/* Grid Side */




.userGridPanel {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Move back by half of own dimensions
  width: 480px; /* 12 columns * 40px */
  height: 480px;
  display: grid;
  grid-template-columns: repeat(12, 40px);
  grid-template-rows: repeat(12, 40px);
}

.gridRect {
  border: 0.5px var(--grid-border) solid;
  transition: background-color 0.5s;
}

.userGridRect {
  border: 0.5px var(--grid-text) solid;
  transition: background-color 0.5s;
}

.gridInterface {
  position: absolute;
  top: calc(100vh - 120px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px; /* 12 columns * 40px */
  display: flex;
  justify-content: space-between;
}

/* Buttons */

.interfaceButton {
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--grid-body);
  color: var(--grid-text);
  border: 1px var(--grid-text) solid;
  margin: 4px;
  padding: 8px;
}

.activeInterfaceButton {
  background-color: var(--grid-text);
  color: var(--grid-bg);
}

.addPanelButton {
  position: sticky;
  left: 50%;
  top: calc(100vh - 50px);
  transform: translate(50%);
  z-index: 2;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Text Input */

.inputText {
  color: var(--body-text);
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
  width: 70%;
  height: 40%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 21px;
}

.inputText:focus {
  border: none;
  outline: none;
}

/* Links */

a {
  color: var(--body-text);
}

h4 {
  margin-bottom: 4px;
}

.highlightedText {
  color: var(--secondary-color);
}

.hoverText {
  font-weight: bold;
  cursor: crosshair;
}

.hoverImage {
  position: absolute;
  width: 60%; 
  /* z-index: 1000; */
  transition: opacity 0.5s ease-in-out;
}

.panelContent {
  position: relative;
  line-height: 2em;
  z-index: 2;
}

/* Responsive font size based on viewport width */
@media screen and (max-width: 1199px) {
  .panelContent {
    font-size: 0.8em; 
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .panelContent {
    font-size: 1em; 
  }
}


.panelContent > p {
  padding-bottom: 8px;
}
