.textPanel {
    color: white;
    height: 100vh;
    /* border: dashed 1px red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 48px;
    padding-right: 48px;
    /* delete later */
    border: 1px solid red;
}

hr {
    width: 100%;
  }

.panelHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.iconBackToTop {
    cursor: pointer;
  }

/* Grid Side */

.gridPanel {
    margin: 0 auto;
    /* change this amount */
    top: calc(50vh - 240px); 
    padding-top: 96px;
    padding-bottom: 96px;
    /* bottom: calc(50% - 50vh);*/
    
    
    /* transform: translateY(-50%) */; 
    position: sticky;
    width: 480px; /* 12 columns * 40px */
    height: 480px;
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);
  }

  .gridRect {
    border: 0.5px black solid;
    transition: background-color 0.5s;
  }

